---
title: About Me
icon: fa-user
order: 3
---
<div class="container">
    <img src="assets/img/city.png" alt="Chicago buildings" class="responsive" />
</div>
<p>Hello there! I am a recent graduate with a degree in Applied Mathematics, with
an emphasis on Computational Science, and minors in Computer Science and the
Natural Sciences. Over the last four years, I have honed my analytical skills and
applied them to projects ranging from a static code analyzer to a distributed
multi-dimensional integration tool to a model of a primate retinal neuron.
Outside of class, my coding projects vary as well. Through an internship with
Revature, I learned to deploy a Java web app to facilitate the buying and selling
of ebooks. In my spare time, I've been working through the freeCodeCamp
curriculum and learning web development.</p>

<p>I've had a lot of leadership experience over the years. At my university, I was
the Math Curriculum Chair for CollegeBound, a service group tackling education
inequality at a local Dallas high school by providing free SAT tutoring. Beyond that,
I used to teach martial arts- specifically Taekwondo, Brazillian Jiu-jitsu, and
Muay Thai. That was always such a rewarding experience because I got to teach and
learn from and grow with people of all ages and backgrounds.</p>
