---
title: Contact Me
icon: fa-envelope
order: 4
---

<p>Feel free to reach out to me! I will get back to you within a day.</p>
<p>
  Or check out my social media links in the bottom of the navbar and reach me
  that way.
</p>

<form method="post" action="https://formspree.io/luandy64+website@gmail.com">
  <div class="row">
    <div class="6u 12u$(mobile)"><input type="text" name="name" placeholder="Your Name" /></div>
    <div class="6u$ 12u$(mobile)"><input type="text" name="email" placeholder="Your Email" /></div>
    <div class="12u$">
      <textarea name="message" placeholder="Message to me"></textarea>
    </div>
    <div class="12u$">
      <input type="submit" value="Send Message" />
    </div>
  </div>
</form>
