---
title: Intro
cover-photo: assets/img/mountain.jpg
cover-photo-alt: example cover photo
auto-header: none
icon: fa-comment
order: 1
---

<style>
 .banner-quote {
   background-color: rgba(0,0,0,60%);
 }

</style>


<header class="banner-quote">
  <p>"<em>
    My mind rebels at stagnation. Give me problems, give me work, give me the 
    most obtuse cryptogram, or the most intricate analysis, and I am in my own 
    proper atmosphere.
  </em>"
  </p>
  <p>Sherlock Holmes, <em>The Sign of Four</em></p>
</header>

<footer>
</footer>
