---
title: Portfolio
icon: fa-th
order: 2
---

<p>
  Here are some of my projects throughout the years. Click on the cards to see
  more about them!
</p>
<p>
  Also check out the navbar to see certificates I've received.
</p>
  <div class="row">
    <div class="4u 12u$(mobile)">
      <div class="item shad">
        <a href="/projects/#staticCode" class="image fit"><img src="{{ 'assets/img/sca.jpg' | relative_url }}" alt="Static Code Analyzer on colored background" /></a>
        <header>
          <h3>Good Enough?!</h3>
        </header>
      </div>
      <div class="item shad">
        <a href="/projects/#massText" class="image fit"><img src="{{ 'assets/img/mt.jpg' | relative_url }}" alt="Text Blast on colored background" /></a>
        <header>
          <h3>Can you hear me? How about now?</h3>
        </header>
      </div>
    </div>
    <div class="4u 12u$(mobile)">
      <div class="item shad">
        <a href="/projects/#monteCarlo" class="image fit"><img src="{{ 'assets/img/mci.jpg' | relative_url }}" alt="Monte Carlo Integration on colored background" /></a>
        <header>
          <h3>Next level Calulus</h3>
        </header>
      </div>
      <div class="item shad">
        <a href="/projects/#parallel" class="image fit"><img src="{{ 'assets/img/pmc.jpg' | relative_url }}" alt="Parallelized Monte Carlo on colored background" /></a>
        <header>
          <h3>Project 4</h3>
        </header>
      </div>
    </div>
    <div class="4u 12u$(mobile)">
      <div class="item shad">
        <a href="/projects/#neuron" class="image fit"><img src="{{ 'assets/img/rnm.jpg' | relative_url }}" alt="Neuron Modeling on colored background" /></a>
        <header>
          <h3>No primates were harmed in the process of this project</h3>
        </header>
      </div>
      <div class="item shad">
        <a href="/projects/#ebook" class="image fit"><img src="{{ 'assets/img/dp.jpg' | relative_url }}" alt="Digital Publishing on colored background" /></a>
        <header>
            <h3>Fresh off the press!</h3>
        </header>
      </div>
    </div>
  </div>
 <a href="/projects" class="button">View More</a>
