<!-- Footer -->
<div id="footer">
  
  <!-- Copyright -->
  <ul class="copyright">
    {% if site.title or site.author %}
      <li>&copy; {{- site.title | default: site.author -}}. All rights reserved.</li>
    {% endif %}
    <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
    <li>Jekyll integration: <a href="https://chrisbobbe.github.io/">Chris Bobbe</a></li>
    <li>Typed with pleasure on an <a href="https://olkb.com/">olkb</a> Preonic</li>
  </ul>
  
</div>
