<!-- Social Icons -->
<ul class="icons">
  {%- if site.twitter_url -%}
  <li><a href="{{- site.twitter_url -}}" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
  {%- endif -%}
  {%- if site.facebook_url -%}
  <li><a href="{{- site.facebook_url -}}" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
  {%- endif -%}
  {%- if site.googleplus_url -%}
  <li><a href="{{- site.googleplus_url -}}" class="icon fa-google-plus"><span class="label">Google Plus</span></a></li>
  {%- endif -%}
  {%- if site.instagram_url -%}
  <li><a href="{{- site.instagram_url -}}" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
  {%- endif -%}
  {%- if site.linkedin_url -%}
  <li><a href="{{- site.linkedin_url -}}" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
  {%- endif -%}
  {%- if site.github_url -%}
  <li><a href="{{- site.github_url -}}" class="icon fa-github"><span class="label">GitHub</span></a></li>
  {%- endif -%}
  {%- if site.pinterest_url -%}
  <li><a href="{{- site.pinterest_url -}}" class="icon fa-pinterest"><span class="label">Pinterest</span></a></li>
  {%- endif -%}
  {%- if site.slack_url -%}
  <li><a href="{{- site.slack_url -}}" class="icon fa-slack"><span class="label">Slack</span></a></li>
  {%- endif -%}
  {%- if site.dribbble_url -%}
  <li><a href="{{- site.dribbble_url -}}" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
  {%- endif -%}
  {%- if site.email -%}
  <li><a href="/#contact-me" class="icon fa-envelope"><span class="label">Email</span></a></li>
  {%- endif -%}
</ul>
