---
# Only the main Sass file needs front matter (the dashes are enough)
---
@import "jekyll-theme-prologue";

.responsive {
    max-width: 100%;
    height: auto;
}

.shad {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}


.button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #93C0FF;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.button a {
    padding: 15px 25px;
}

.button:hover {
    background-color: #7CAAEA
}

.button:active {
    background-color: #7CAAEA;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
