---
layout: default
---
{%- assign _posts = site.posts | sort: 'date' | reverse -%}
{%- include header.html -%}
<!-- Main -->
<div id="main" class=blogHead>
    <h1>Blog</h1>
    <p>
        Here are posts about anything and everything I want to write about. I am always open to feedback about any of these, so please reach out if you want! My posting schedule as of July 2018 is Monday-Friday will have a post each day, then on Saturday I will post something I was working on for most of the week leading up to it. Sunday is my planning day, so I don't post then. Enjoy!
    </p>
    <p>
        P.S. If you read something and think "Ooh I wish he would write about X too.". Let me know!
    </p>
  <ul class="blogList">
    {% for post in site.posts %}
      <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>
