---
layout: default
icon: fa-arrow-circle-right
---
{%- include header.html -%}

<!-- Main -->
<div id="main">
  <!-- Post -->
  <article class="shade-two">
    <div class="container">
      <header>
        <h2>{{- page.title -}}</h2>
	  <p>{% if page.author %}{{ page.author }}, {% endif %}{{- page.date | date_to_long_string -}}</p>
      </header>

      {% if page.cover-photo %}
      	{%- capture _photo -%}
          <img src="{{- page.cover-photo | relative_url -}}" alt="{{- page.cover-photo-alt -}}" class="responsive">
      	{%- endcapture -%}
        <div class="container">
          {{- _photo -}}
        </div>
      {% endif %}
      {{- content -}}
    </div>
  </article>
</div>

<!--Adding MathJax Support-->
<script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
